.container {
    height: 50vh;
    position: absolute;
    top: 25%;
    display: none;
}

.description {
    text-align: center;
}

input {
    width: 100%;
}
.t-hint {
    text-align: right;
}

.row div {
    padding: 2% 0 2% 0;
}